.card {
  background-color: lightgray;
  box-shadow: 2px 2px black;
  padding-right: 0px;
  border-radius: 5px;
}

.clear-sides {
  padding: 0px;
  margin-right: 0px;
}

.chat {
  height: 80%;
}

textarea {
  resize: none;
}

.small-font {
  color: chocolate;
  font-size: 8pt;
}

.from-left {
  padding-right: 20px;
}

.from-right {
  padding-left: 20px;
}