<div class="row">
  <div class="col-12">
    <top-navbar> </top-navbar>
  </div>
</div>
<div class="row h-100">
  <div class="d-flex flex-wrap">
  <div class="card p-2">
      <img class="card-img-top" *ngIf="currentSrc" [src]="currentSrc">
      <div class="card-body input-group">
          <textarea placeholder="Message with a link..." class="form-control" [(ngModel)]="text" (keyup.enter)="post()" (keydown.control.enter)="newLine()" (input)="onTextChanged()"></textarea>
          <div class="input-group-append">
            <a class="btn btn-outline-success" (click)="post()">Post</a>
        </div>
      </div>
    </div>
    <div class="card p-2" *ngFor="let m of (messages | async); trackBy:track" @appear>
      <img class="card-img-top" [src]="m.imageUrl" (click)="onImageClick(m)">
      <div class="card-body">
        <h5 class="card-title">{{ m.name }}</h5>
        <p class="card-text">{{ m.text }}</p>
        <p><small>{{ m.getDate() | timeAgo }}</small></p>
      </div>
    </div>
  </div>
</div>

<open-image [message]="openMessage$"></open-image>
