.card {
  background-color: lightgray;
  box-shadow: 2px 2px black;
}

.clear-sides {
  padding: 0px;
  margin-right: 0px;
}

.chat {
  height: 80%;
}

textarea {
  resize: none;
}

.small-font {
  color: chocolate;
  font-size: 8pt;
}
