<top-navbar></top-navbar>
<div @slideRight class="row h-100 clear-sides">
  <div class="col-5 card">
    <div class="chat">
      <div class="d-flex flex-column h-100 flex-column-reverse" *ngIf="(messages | async) as msg">
        <div *ngFor="let m of msg; trackBy:track" [ngClass]="[m.belongsTo(user.id) ? 'from-right' : 'from-left']">

          <div @appear class="p-2 alert" [ngClass]="[m.belongsTo(user.id) ? 'alert-warning' : 'alert-primary']">
            <div class="row">
              <span class="small-font text-left col">{{ m.name}}</span>
              <span class="small-font text-right col">{{ m.getDate() | timeAgo }} </span>
            </div>
            <div>{{ m.text }}</div>

          </div>
        </div>
      </div>
    </div>

    <div class="card-body input-group">
      <textarea [(ngModel)]="text" name="text" maxlength="500" (keyup.enter)="send()" (keydown.control.enter)="newLine()" class="form-control"></textarea>
      <div class="input-group-append">
        <button (click)="send()" class="btn btn-outline-success btn-block">Send</button>
      </div>
    </div>
  </div>

  <div class="col-6"></div>
</div>