<div class="row">
  <div class="col-12">
    <top-navbar> </top-navbar>
  </div>
</div>
<div class="row h-100">
  <div class="d-flex flex-wrap align-content-stretch justify-content-start">
    <div class="card p-2">
      <message-card (onPost)="post($event)"></message-card>
    </div>
    <div class="card p-2" *ngFor="let m of (messages | async); trackBy:track" @appear>
      <post-card [message]="m" [user]="user" (onClick)="onImageClick($event)"></post-card>
    </div>
  </div>
</div>

<open-image [message]="openMessage$"></open-image>