

.row.h-100 {
  margin-top:20px;
}


.card-img-top {
  width: 100%;
  height: 150px;
}

.card { 
  width: 20rem;
  margin: 4px;
  overflow: hidden;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}
