<div class="container">
  <div class="row h-100 align-items-center">
    <div class="col-4"></div>
    <div class="col-4">
      <div @fade class="card text-center">
        <h5 class="card-title">
          <img class="logo-img" src="../../assets/logo.png" alt="share!">
        </h5>
        <div class="card-body">
          <a (click)="login()">
            <i style="font-size: 3em" class="fas fa-sign-in-alt"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
