<div class="row">
  <div class="col-12">
    <top-navbar> </top-navbar>
  </div>
</div>
<div class="row h-100">
  <div class="card-columns" [@listAnimation]="messages.length">
    <div class="card border-secondary">
      <add-post (onPost)="post($event)" [user]="user"></add-post>
    </div>
    <div #posts class="card border-secondary" *ngFor="let m of messages; trackBy:track">
      <post-card [message]="m" [user]="user" (onClick)="onImageClick($event)"></post-card>
    </div>
  </div>
</div>

<open-post [message]="openMessage$"></open-post>


