<open-post [message]="openMessage$"></open-post>
<div class="row">
  <div class="col-12">
    <top-navbar (brandClicked)="reset()"></top-navbar>
  </div>
</div>
<div id="mainContainer" class="row h-100" debounce [infiniteScrollDistance]="1" infiniteScroll [alwaysCallback]="true" [infiniteScrollThrottle]="100"
  (scrolled)="showMore()">
  <div class="d-flex flex-wrap justify-content-center" [@listAnimation]="messages?.length">
    <add-post (addPost)="post($event)"></add-post>
    <ng-container *ngFor="let m of messages; trackBy:track">
      <post-card [message]="m" (postClicked)="onImageClick($event)" (postDeleted)="onDeleteClick($event)"></post-card>
    </ng-container>
  </div>
</div>

