@import '../../assets/postcard.css';
.messages {
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    margin: 0px;
    font-size: small;
}

.messages>ul {
    padding: 10px;
}

.message-input {
    width: 100%;
    margin: 0px;
}

.message-input>input {
    margin-top: 5px;
    height: 20%;
}

.bottom-line {
    line-height: 1;
}

ul {
  list-style-type: none;
}

.overlay {
  z-index: 9999;
  position: absolute;
  height: 60%;
  top: 15%;
  width: 100%;
}
