<div class="card border-secondary">
  <tabset [justified]="true">
    <tab>
      <ng-template tabHeading>
        <i class="far fa-image"></i>
      </ng-template>
      <ng-template #linkImage>
        <img class="center-image" [src]="message.messageLink.imageUrl" (click)="onImageClick(message)">
      </ng-template>
      <ng-template #linkVideo>
        <div (click)="onImageClick(message)" class="video">
          <video class="center-image" preload="metadata" controls="" [src]="safeLink"></video>
        </div>
      </ng-template>
      <ng-container *ngTemplateOutlet="getPreview(message.messageLink.type)"></ng-container>
    </tab>
    <tab (select)="onCommentTabSelect()">
      <ng-template tabHeading>
        <span *ngIf="!message.commentCount">
          <i class="far fa-comments"></i>
        </span>
        <span *ngIf="message.commentCount > 0">{{message.commentCount}}
          <i class="fas fa-comments"></i>
        </span>
      </ng-template>

      <div class="row messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <ul class="list-group w-100" *ngIf="(comments | async) as coms">
          <li class="w-100" *ngFor="let c of coms.list; trackBy: trackComment">
            <strong>{{c.userName}}: </strong>{{ c.comment }}
          </li>
        </ul>
      </div>
      <div class="row message-input">
        <input required [(ngModel)]="newCommentText" type="text" placeholder="Add comment..." class="form-control" (keydown.enter)="addComment()">
      </div>
    </tab>
  </tabset>
  <div class="card-footer align-middle">
    <div class="row text-left">
      <div class="col-3 text-left">
        <a class="card-link" href="#" *ngIf="message.canEdit(userService.user)" (click)="deleteClicked()">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <div class="col-6 bottom-line text-center">
        <strong>{{ message.name }}</strong>
        <br>
        <small>{{ message.getDate() | timeAgo }}</small>
      </div>
      <div class="col-3 text-right" likes [message]="message">
      </div>
    </div>
  </div>
</div>
