<div class="card-header input-group">
    <input type="text" [(ngModel)]="linkText" placeholder="link..." class="form-control card-text" (input)="onTextChanged()" (keyup.escape)="clear()" required>
</div>

<div class="card-img-top">
    <img *ngIf="currentPost.type!='video' && currentPost.imageUrl" [src]="currentPost.imageUrl" (load)="mediaLoaded()">
    <div *ngIf="currentPost.type=='video' && currentPost.linkUrl && safeLink" class="video">
        <video preload="metadata" controls="" [src]="safeLink" (loadeddata)="mediaLoaded()"></video>
    </div>
</div>

<div class="card-footer align-middle text-center">
    <a class="card-link" href="#" *ngIf="linkText" (click)="clear()">
        <i class="far fa-trash-alt"></i>
    </a>
</div>