img {
  width:100%;
  height: 150px;
  object-fit: cover;
}

video {
  width:100%;
  height: 150px;
}

.invalid-input {
  background-color: white;
}

.valid-input {
  background-color: lightgreen;
}

.card-link {
  cursor: pointer;
}

.card-header, .card-footer {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-text {
  font-size: small;
}