<div class="ng-overlay" *ngIf="opened && message" (click)="close()">

  <div class="ng-gallery-content">
    <div class="uil-ring-css" *ngIf="loading && message.post.type!='video'">
      <div></div>
    </div>
    <img src="{{message.post.imageUrl}}" class="effect image" *ngIf="message.post.type == 'image'" (load)="onDataLoad()" />
    <div *ngIf="message.post.type=='youtube' || message.post.type=='coub'" class="ng-gallery-content video">
      <iframe [src]="safeLink" allowtransparency allow="autoplay" class="video" frameborder="0" (load)="onDataLoad()"></iframe>
    </div>
    <div *ngIf="message.post.type=='video'" class="ng-gallery-content video">
      <video preload="metadata" autoplay="true" controls="" class="video" (load)="onDataLoad()">
        <source [src]="safeLink">
      </video>
    </div>
    <span class="info-text"></span>
  </div>

</div>