.ng-gallery {
    width: 100%;
    display: inline-block;
}

.video {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ng-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    /*opacity: 0.85;*/
    z-index: 9999;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.ng-gallery-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    text-align: center;
}

.ng-gallery-content>img {
    height: auto;
    max-height: calc(100% - 150px);
    max-width: calc(100% - 100px);
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.ng-gallery-content>img.effect {
    animation: fadeIn 0.5s;
    width: auto;
    height: 80%;
    object-fit: contain;
}

@keyframes fadeIn {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.ng-gallery-content>span.info-text {
    color: mintcream;
    display: inline-block;
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 50px;
}

uiload {
    display: inline-block;
    position: relative;
}

uiload>div {
    position: relative;
}
