.card-text {
    font-size: small;
}

.card-header, .card-footer {
    background-color: rgba(0, 0, 0, 0.1);
    height: 20%;
}

.card-link {
    cursor: pointer;
}

img {
    width:100%;
    height: 170px;
    object-fit: cover;
    padding: 5px;
}

video {
    width:100%;
    height: 170px;
    padding: 5px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    cursor: pointer;
}

.invalid-input {
    border-color: red;
}

.valid-input {
    border-color: lightgreen;
}


.card {
    width: 18rem;
    display: inline-block;
    margin: 6px;
    height:300px;
}

.card-img-top {
    height: 60%;
    vertical-align: middle;
    padding: 10px;
}

.card-footer {
    height: 20%;
}
